<table class="trips-table">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <%table_trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
      <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id)%></td>
      <td>$<%= trip.cost_in_dollars.to_string_rounded %></td>
      <td>
        <% if trip.is_complete?%>
          <%= trip.rating %>
        <% else %>
          <%= form_for trip do |f| %>
            <%= f.select :rating, [1, 2, 3, 4, 5] %>
            <%= f.submit%>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</section>
</table>
